<%= div_for message do %>
  <span class="user"><%= message.user.email %>: </span>
  <span class="body"><%= message.body %></span>
  <span class="time">(<%= message.created_at.strftime("%I:%M %p") %>)</span>
<% end %>
